MONGODB_URI=
MONGODB_DB_NAME=

# Alternative: Groq API (Free tier available)
# Get your key from: https://console.groq.com/keys
#GROQ_API_KEY=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
GROQ_API_KEY=
USE_LANGCHAIN=true
# HuggingFace API Key (for RAG embedding model)
HUGGINGFACEHUB_API_TOKEN=
HF_HUB_DISABLE_XET=1

# RAG Integration
USE_RAG=true
NEO4J_URI=
NEO4J_USER=
NEO4J_PASSWORD=